<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings> <!-- This can be moved into Azure vault -->
    <add key="FredIdentity" value="https://fi-dev-api.azurewebsites.net" /> <!-- Fred Dev Identity URL -->
    <add key="CosmosEndpoint" value="https://fredpoc.table.cosmosdb.azure.com:443/" /> <!-- end point for fred poc table-->
    <add key="CosmosTableConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fredpoc;AccountKey=oPpAiF8lzVK19KD7i1JBdC9zDzqQ5k9ZzxubsUBT2Wr1d17sp40P8MQVSzBDPKgSebkE0zZH3pKHLGLORrUvjw==;TableEndpoint=https://fredpoc.table.cosmosdb.azure.com:443/;" /> <!-- connection string for table endpoint-->
    <add key="CosmoAuditTable" value="audit" />
    <add key="AccessToken" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTUxMiJ9.eyJvaWQiOiJjZTlmZmFjYy1kMDI3LTQwNzEtOWE4OC1iYmMwMDg5Zjg2ZTAiLCJkaXNwbGF5bmFtZSI6Ik1hcmNvIEdhcmdhcmkiLCJtYXN0ZXJTaXRlSWQiOiI5OTk5OSIsInByaW5jaXBhbG5hbWUiOiJtYXJjby5nYXJnYXJpQGZyZWRpZGVudGl0eWRldi5vbm1pY3Jvc29mdC5jb20iLCJ1c2VyZW1haWwiOiJtYXJjby5nYXJnYXJpQGZyZWQuY29tLmF1Iiwic2NwIjoiRklQOjY3MTA4ODYzIiwiU0lURUlEIjoibi9hIiwiSGFzaGluZyI6IiIsIlRlc3RTZXQxIjoiRU9yVTJNR29NdmREWkduNlg5Tkh4dz09IiwiVGVzdFNldDFfSVYiOiJGZlprNDlsWnN4SDQ5SkZZZnVIYzV3PT0iLCJOQy1TSVEtQ1MiOiIiLCJOQy1UQUctQ1MiOiIiLCJOQy1USUstQ1MiOiIiLCJUb0JlRW5jMyI6IiIsIlRvQmVFbmMzX0lWIjoiIiwiaXNzIjoiaHR0cHM6Ly9pZGVudGl0eS5mcmVkLmNvbS5hdS9kZXYiLCJhdWQiOiJodHRwOi8vYXBwcy5mcmVkLmNvbS5hdSIsImV4cCI6MTUxNTM3NzcyMywibmJmIjoxNTE1MzcwNTIzfQ.855k32ApQq5DSRzJBktieaTh8oQnJ26g4AqQu6pdUFIxABly25TX-ps16MdeaOz31TigBS4iDTZIAcks6K2YAQ" />
    <add key="ServiceBus" value="Endpoint=sb://ehsolutionservicespoc.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=lMyUhxPRIp2aALsfXncRubx6Qxj3dTh/liHL/JX7txQ=" />
    <add key ="EventHub" value="Endpoint=sb://ehsolutionservicespoc.servicebus.windows.net/;SharedAccessKeyName=FredAuditLog;SharedAccessKey=eNoOKF4JjqNUCmk7wV/HQ8A2L5diSvF1g+Oqu7U8+Bk=;EntityPath=auditdata"/>
    
    <!-- Access Token-->
    <!--eyJ0eXAiOiJKV1QiLCJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTUxMiJ9.eyJvaWQiOiJjZTlmZmFjYy1kMDI3LTQwNzEtOWE4OC1iYmMwMDg5Zjg2ZTAiLCJkaXNwbGF5bmFtZSI6Ik1hcmNvIEdhcmdhcmkiLCJtYXN0ZXJTaXRlSWQiOiI5OTk5OSIsInByaW5jaXBhbG5hbWUiOiJtYXJjby5nYXJnYXJpQGZyZWRpZGVudGl0eWRldi5vbm1pY3Jvc29mdC5jb20iLCJ1c2VyZW1haWwiOiJtYXJjby5nYXJnYXJpQGZyZWQuY29tLmF1Iiwic2NwIjoiRklQOjY3MTA4ODYzIiwiU0lURUlEIjoibi9hIiwiSGFzaGluZyI6IiIsIlRlc3RTZXQxIjoiRU9yVTJNR29NdmREWkduNlg5Tkh4dz09IiwiVGVzdFNldDFfSVYiOiJGZlprNDlsWnN4SDQ5SkZZZnVIYzV3PT0iLCJOQy1TSVEtQ1MiOiIiLCJOQy1UQUctQ1MiOiIiLCJOQy1USUstQ1MiOiIiLCJUb0JlRW5jMyI6IiIsIlRvQmVFbmMzX0lWIjoiIiwiaXNzIjoiaHR0cHM6Ly9pZGVudGl0eS5mcmVkLmNvbS5hdS9kZXYiLCJhdWQiOiJodHRwOi8vYXBwcy5mcmVkLmNvbS5hdSIsImV4cCI6MTUxNTM3NzcyMywibmJmIjoxNTE1MzcwNTIzfQ.855k32ApQq5DSRzJBktieaTh8oQnJ26g4AqQu6pdUFIxABly25TX-ps16MdeaOz31TigBS4iDTZIAcks6K2YAQ 
-->  
   </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
