<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuditApi" value="http://localhost:14692/" />
    <add key="FredToken" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTUxMiJ9.eyJvaWQiOiJjZTlmZmFjYy1kMDI3LTQwNzEtOWE4OC1iYmMwMDg5Zjg2ZTAiLCJkaXNwbGF5bmFtZSI6Ik1hcmNvIEdhcmdhcmkiLCJtYXN0ZXJTaXRlSWQiOiI5OTk5OSIsInByaW5jaXBhbG5hbWUiOiJtYXJjby5nYXJnYXJpQGZyZWRpZGVudGl0eWRldi5vbm1pY3Jvc29mdC5jb20iLCJ1c2VyZW1haWwiOiJtYXJjby5nYXJnYXJpQGZyZWQuY29tLmF1Iiwic2NwIjoiRklQOjY3MTA4ODYzIiwiU0lURUlEIjoibi9hIiwiSGFzaGluZyI6IiIsIlRlc3RTZXQxIjoiRU9yVTJNR29NdmREWkduNlg5Tkh4dz09IiwiVGVzdFNldDFfSVYiOiJGZlprNDlsWnN4SDQ5SkZZZnVIYzV3PT0iLCJOQy1TSVEtQ1MiOiIiLCJOQy1UQUctQ1MiOiIiLCJOQy1USUstQ1MiOiIiLCJUb0JlRW5jMyI6IiIsIlRvQmVFbmMzX0lWIjoiIiwiaXNzIjoiaHR0cHM6Ly9pZGVudGl0eS5mcmVkLmNvbS5hdS9kZXYiLCJhdWQiOiJodHRwOi8vYXBwcy5mcmVkLmNvbS5hdSIsImV4cCI6MTUxNTM3NzcyMywibmJmIjoxNTE1MzcwNTIzfQ.855k32ApQq5DSRzJBktieaTh8oQnJ26g4AqQu6pdUFIxABly25TX-ps16MdeaOz31TigBS4iDTZIAcks6K2YAQ" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>